<div class="container body-content">

    <img 
        src="assets/images/HotelCincoEstrelas.png" 
        class="object-fit-cover rounded-4 home-img" 
        alt="Hotel Cinco Estrelas"
    >

    <div class="d-block awful">
        <h1 class="text-left">%WELCOME_HEADER%</h1>
        <p class="lead">%WELCOME_TEXT%, %CURRENT_TIME%</p>

        <!-- Search-Form Component -->

    </div>

    <section id="MainPageInfo">
        <div id="InfoAboutHotel" class="d-flex flex-row my-5">
            <div>
                <h2 class="fw-semibold">%ABOUT_HOTEL_HEADER%</h2>
                <p class="lead">%ABOUT_HOTEL_TEXT%</p>
            </div>
            <img 
                src="assets/images/entrance.jpg" 
                class="about-img ms-5" 
                alt="Hotel Entrance"
            >
        </div>
    
        <hr />
    
        <div id="InfoAboutLisbon" class="d-flex flex-row my-5">
            <div>
                <h2 class="fw-semibold">%ABOUT_LISBON_HEADER%</h2>
                <p class="lead">%ABOUT_LISBON_TEXT%</p>
            </div>
            <img 
                src="assets/images/lisbon.jpg" 
                class="about-img ms-5" 
                alt="Lisbon"
            >
        </div>

        <hr />
    
        <div id="InfoAboutUs" class="d-flex flex-row mt-5">
            <div>
                <h2 class="fw-semibold">%ABOUT_US_HEADER%</h2>
                <p class="lead">%ABOUT_US_TEXT%</p>
            </div>
            <img 
                src="assets/images/pool.jpg" 
                class="about-img ms-5" 
                alt="Hotel Pool"
            >
        </div>
    </section>

    

</div>