{% extends "layout.html" %}

{% block content %}

<h1>Coisas implementadas:</h1>
<h3>- Admin </h3>
<p>Ver toda a informação na base de dados, como também editar e apagar</p>
<h3>- User </h3>
<p>Registar user na base de dados, e como utilizador de website</p>
<p>Ver reviews do hotel</p>
<p>Deixar reviews</p>
<h3>- Models </h3>
<p>Em principio não é necessário mudar mais os models</p>

<hr />

<h1>Por implementar:</h1>
<h3>- Website </h3>
<p>Criar um bom template</p>
<p>Melhorar aspeto das páginas</p>
<p>Não temos error handling</p>
<h3>- User </h3>
<h5>NÃO Logado:</h5>
<p>* ver quartos vagos para certos dias</p>
<p>* comparar preços entre datas</p>
<p>* ver reviews de quartos</p>
<h5>Logado:</h5>
<p>* efetuar reservas de um quarto para uma data</p>
<p>* alterar/cancelar reservas</p>
<p>* adicionar bonus (p.e. pequenos almoços)</p>
<h3>- Admin</h3>
<p>Fazer página para atualizar quartos</p>
{% endblock %}