{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-8">
        <form action="." method="post" class="form-horizontal">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <h1>{{ message }}</h1>
                {% endfor %}
            {% else %}
                <h4>Editing booking: {{ booking }} </h4>
            {% endif %}
            
            <hr />
            <div class="form-group">
                {{ form.room_id.label_tag }}
                <div class="col-md-10">
                    {{ form.room_id }}
                </div>
            </div>
            <div class="form-group">
                {{ form.user_id.label_tag }}
                <div class="col-md-10">
                    {{ form.user_id }}
                </div>
            </div>
            <div class="form-group">
                {{ form.total_price.label_tag }}
                <div class="col-md-10">
                    {{ form.total_price }}
                </div>
            </div>
            <div class="form-group">
                {{ form.check_in.label_tag }}
                <div class="col-md-10">
                    {{ form.check_in }}
                </div>
            </div>
            <div class="form-group">
                {{ form.check_out.label_tag }}
                <div class="col-md-10">
                    {{ form.check_out }}
                </div>
            </div>
            <div class="form-group">
                {{ form.breakfast.label_tag }}
                <div class="col-md-10">
                    {{ form.breakfast }}
                </div>
            </div>
            <div class="form-group">
                {{ form.lunch.label_tag }}
                <div class="col-md-10">
                    {{ form.lunch }}
                </div>
            </div>
            <div class="form-group">
                {{ form.extra_bed.label_tag }}
                <div class="col-md-10">
                    {{ form.extra_bed }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}