{% extends "layout.html" %}

{% load static %}

{% block content %}

   {% if user.is_superuser %}
        <p><a href='/functionalities/admin/users'>view users</a></p>
        <p><a href='/functionalities/admin/bookings'>view bookings</a></p>
        <p><a href='/functionalities/admin/rooms'>view rooms</a></p>
        <p><a href='/functionalities/admin/reviews'>view reviews</a></p>
    {% endif %}

    <section class="container">

        <h3>Search for one of our rooms!</h1>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/images/Untitled.png" class="d-block w-50" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/images/Untitled.png" class="d-block w-50" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/images/Untitled.png" class="d-block w-50" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </section>

{% endblock %}
