{% extends "layout.html" %}

{% load static %}
{% load i18n %}
{% block content %}

   {% if user.is_superuser %}
        <p><a href='/functionalities/admin/users'>view users</a></p>
        <p><a href='/functionalities/admin/bookings'>view bookings</a></p>
        <p><a href='/functionalities/admin/rooms'>view rooms</a></p>
        <p><a href='/functionalities/admin/reviews'>view reviews</a></p>
    {% endif %}

    <div class="mb-4">
        <img src="{% static 'images/HotelCincoEstrelas.png' %}" alt="Hotel Cinco Estrelas"
             class="object-fit-cover rounded-4 home-img">
        <div class="d-block awful">
            
            <h1 class="text-left">{% translate 'index_welcome_heading' %}</h1>
            

            <p class="lead">{% translate 'index_welcome_text' %}</p>
            <form method="POST" class="input-group shadow-lg">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Data Inicial">
                <input type="text" class="form-control" placeholder="Data Final">
                <button type="submit" class="btn btn-primary">{% translate 'search_text' %}</button>
            </form>
        </div>

        <div class="d-flex flex-row my-5">
            <div>
                <h2 class="fw-semibold">{% translate 'index_about_us' %}</h2>
                <p class="lead">{% translate 'index_about_us_text' %}</p>
            </div>
            <img src="{% static 'images/entrance.jpg' %}" alt="Hotel Entrance" class="about-img ms-5">
        </div>
        <hr/>
        <div class="d-flex flex-row my-5">
            <img src="{% static 'images/lisbon.jpg' %}" alt="Lisbon Center" class="about-img me-5">
            <div>
                <h2 class="fw-semibold">{% translate 'index_our_location' %}</h2>
                <p class="lead">{% translate 'index_our_location_text' %}</p>
            </div>
        </div>
        <hr/>
        <div class="d-flex flex-row mt-5">
            <div>
                <h2 class="fw-semibold">{% translate 'index_our_commitment' %}</h2>
                <p class="lead">{% translate 'index_our_commitment_text' %}</p>
            </div>
            <img src="{% static 'images/pool.jpg' %}" alt="Hotel Pool" class="about-img ms-5">
        </div>
    </div>

{% endblock %}
