.float-child {
    width: 35%;
    float: left;
    padding: 20px;
}

.child1 {
    position: absolute;
    top: 410px;
    left: 15%;
}

.child2 {
    position: absolute;
    top: 330px;
    right: 15%;
}

.contact {
    width: 100px;
}

.special {
    position: relative;
    left: 80px;
    font-size: 3em;
    font-weight: bold;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}