<div class="row justify-content-center">
  <div class="col-md-6">
    <section id="loginForm" class="mt-5">
      <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <div class="mb-4">
          <label class="col-md-4 text-start">Username</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="username" autocomplete="off" required>
            <div class="invalid-feedback">Please enter a username.</div>
          </div>
        </div>
        <div class="mb-4">
          <label class="col-md-4 text-start">Email</label>
          <div class="col-md-8">
            <input type="email" class="form-control" id="email" autocomplete="off" required>
            <div class="invalid-feedback">Please enter an email.</div>
          </div>
        </div>
        <div class="mb-4">
          <label class="col-md-4 text-start">Password</label>
          <div class="col-md-8">
            <input type="password" class="form-control" id="password" required>
            <div class="invalid-feedback">Please enter a password.</div>
          </div>
        </div>
        <div class="mb-4">
          <div class="col-md-8 pt-12">
            <button type="submit" class="btn btn-primary me-2 d-block mx-auto">Register</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
