{% extends "layout.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <h1>{{ message }}</h1>
    {% endfor %}
    <a href="{% url 'view_bookings' %}">Return to booking list</a>
{% else %}
    <h4>Editing booking: {{ booking }} </h4>
    <h2>Room ID: 
        <h4>{{ room_id }}</h4>
    </h2><br>
    <h2>User ID:
        <h4>{{ user_id }}</h4>
    </h2><br>
    <h2>Total Price:
        <h4>{{ total_price }}</h4>
    </h2><br>
    <h2>Check in:
        <h4>{{ check_in }}</h4>
    </h2><br>
    <h2>Check_out:
        <h4>{{ check_out }}</h4>
    </h2><br>
    <h2>Breakfast:
        <h4>{{ breakfast }}</h4>
    </h2>
    <h2>Lunch:
        <h4>{{ lunch }}</h4>
    </h2>
    <h2>Extra Bed:
        <h4>{{ extra_bed }}</h4>
    </h2>

    
    <a href="edit"><h2>Edit booking</h2></a>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" name="delete_button" value="delete">Delete booking</button>
    </form>
{% endif %}

{% endblock %}