{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-8">
        <form action="." method="post" class="form-horizontal">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <h1>{{ message }}</h1>
                {% endfor %}
            {% else %}
                <h4>Editing room: {{ room }} </h4>
            {% endif %}
            
            <hr />
            <div class="form-group">
                {{ form.name.label_tag }}
                <div class="col-md-10">
                    {{ form.name }}
                </div>
            </div>
            <div class="form-group">
                {{ form.price.label_tag }}
                <div class="col-md-10">
                    {{ form.price }}
                </div>
            </div>
            <div class="form-group">
                {{ form.max_guests.label_tag }}
                <div class="col-md-10">
                    {{ form.max_guests }}
                </div>
            </div>
            <div class="form-group">
                {{ form.booking.label_tag }}
                <div class="col-md-10">
                    {{ form.booking }}
                </div>
            </div>
            <div class="form-group">
                {{ form.type.label_tag }}
                <div class="col-md-10">
                    {{ form.type }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}