<div class="container">
  <div class="row row-cols-3">
      <div class="card" style="width: 16rem;" *ngFor="let user of users">
          <ng-container *ngIf="user.image; else noUserImage">
              <img src="assets{{ user.image }}" class="card-img-top mx-auto" style="width: 40%;" alt="user">
          </ng-container>
          <ng-template #noUserImage>
              <img src="assets/images/user.jpeg" class="card-img-top mx-auto" style="width: 40%;" alt="default user">
          </ng-template>            
          <div class="card-body">
            <h3 class="card-title">{{ user.id }} - {{ user.name }}</h3>
          </div>
          <h4>Contacts:</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{user.email}}</li>
            <li class="list-group-item">{{user.phone}}</li>
            <li class="list-group-item">{{user.address}}</li>
          </ul>
          <div class="card-body mx-auto">
            <button *ngIf="user.name !== 'Admin'" class="btn btn-danger mx-1" (click)="deleteUser(user)">Delete User</button>
            <button (click)="openUserModal(user)" type="button" class="btn  btn-warning mx-1" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + user.id">
              Update User
            </button>
          </div>        

          <!-- Modal -->
          <div *ngIf="selectedUser" class="modal fade" [id]="'exampleModal' + user.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{selectedUser!.name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label>Name:
                    <input type="text" class="form-control" [(ngModel)]="selectedUser!.name">
                  </label>
                  <label>Email:
                    <input type="email" class="form-control" [(ngModel)]="selectedUser!.email">
                  </label>
                  <label>Phone:
                    <input type="tel" class="form-control" [(ngModel)]="selectedUser!.phone">
                  </label>
                  <label>Address:
                    <input type="text" class="form-control" [(ngModel)]="selectedUser!.address">
                  </label>
                  <label>Birthdate:
                    <input type="date" class="form-control" [(ngModel)]="selectedUser!.birthdate">
                  </label>
                  <label>Image:
                    <input type="text" class="form-control" [(ngModel)]="selectedUser!.image">
                  </label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="updateUser(selectedUser!)">Save changes</button>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

