<div class="container">
    <div class="row row-cols-3">
        <div class="card" style="width: 16rem;" *ngFor="let user of users">
            <img src="assets/images/Untitled.png" class="card-img-top mx-auto my-2" style="width: 80%;" alt="pfp">
            <div class="card-body">
              <h3 class="card-title">{{ user.id }} - {{ user.name }}</h3>
            </div>
            <h4>Contacts:</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{user.email}}</li>
              <li class="list-group-item">{{user.phone}}</li>
              <li class="list-group-item">{{user.address}}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">{{user.rooms}}</a>
            </div>
          </div>
    </div>
</div>