<div class="row justify-content-center">
  <div class="col-md-6">
    <section id="loginForm" class="mt-5">
      <form (ngSubmit)="login()">
        <div class="mb-4">
          <label class="col-md-4 text-start">Email</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="email" autocomplete="off" name="email" required [(ngModel)]="email">
            <div class="invalid-feedback">Please enter an email.</div>
          </div>
        </div>
        <div class="mb-4">
          <label class="col-md-4 text-start">Password</label>
          <div class="col-md-8">
            <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
            <div class="invalid-feedback">Please enter a password.</div>
          </div>
        </div>
        <div class="mb-4">
          <div class="col-md-8 pt-12">
            <button type="submit" class="btn btn-primary me-2 d-block mx-auto">Log in</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
